<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>最新要闻</h2></div>
        <div>在此处查看我们的最近更新和即将举行的活动。</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" fxLayout="column">
            <div class="text-row" *ngFor="let event of events">
                <h2>
                    <a [href]="event.infoPath"> 
                        {{ event.title }}
                    </a>
                </h2>
                <span>{{ event.date }}</span>
                <p>{{ event.description }}</p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h5>最新发布</h5>
            <div *ngFor="let event of events">
                <p>
                    <a [href]="event.infoPath"> 
                        {{ event.title }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<app-events></app-events>