.toolbar {
  background-color: #ffffff;
}

.branding-container {
  height: 108px;
  // border: 1px solid black;
}

.navLogo {
  width: 280px;
  height: 59px;
  margin: 0px 55px;
}

.headmenu-container {
  height: 50px;
  // border: 1px solid black;
}

.head-menu {
  margin: 0px 55px;
}

.mat-button {
  color: #67a538;
  font-size: medium;
}

span {
  font-size: medium;
  margin-left: 580px;
  font-family: serif;
}
