form {
  background-color: #444444;
}

h4 {
  font-size: 16px;
  color: #ffffff;
  margin: 10px 0px;
}

div > img {
  width: 165px;
  height: 140px;
  padding: 20px 0px 20px;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

a > img {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 10px;
}

.prefooter {
  background-color: #444444;
  color: #f8f8f8;
  padding: 37px 0px;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0 0 20px 0;
}

ul li {
  list-style-type: none;
  text-align: left;
}

.postfooter {
  background-color: #f8f8f8;
  padding: 40px 55px;
  color: #565656;
}

.container {
  margin-left: 50px;
  color: #7f7f7f;
  font-size: small;
}

::selection {
  background-color: #67a538;
  color: #ffffff;
}

button {
  background-color: #67a538;
  margin-top: 15px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
