<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>技术支持</h2></div>
        <div>我们致力于为客户提供高质量的服务和支持。请联系我们以获得技术帮助。</div>
    </div>
</div>
<div class="container" fxLayout="col">
    <div class="col">
        <div class="col-md-4">
            <h2>中国</h2>
        </div>
        <div class="col-md-4">
            <h2>美国</h2>
        </div>  
    </div>
    <div class="col">
        <h2>联系我们</h2>
        <button mat-flat-button color="primary">提交</button>
    </div>
</div>

