.tp-bgimg {
  width: 100%;
  max-height: 378px;
  padding: 0;
  margin-bottom: 50px;
  object-fit: cover;
}

.hd-container {
  position: relative;
  color: #ffffff;
}

.tx-wrapper {
  position: absolute;
  width: 400px;
  top: 150px;
  left: 80px;
}

.hd-hd {
  padding-bottom: 20px;
}

.column {
  padding: 20px 80px;
}

hr {
  border: none;
  border-top: 3px dotted #7ac144;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container h2 {
  color: #67a538;
}

h6 {
  color: #ffffff;
  margin-left: 5px;
  margin-top: 5px;
}

.text-wrapper {
  background-color: #7ac144;
  padding: 5px;
}

.item-wrapper {
  padding: 10px;
}

.container {
  padding-bottom: 50px;
}

button {
  background-color: #67a538;
  color: #ffffff;
}

::selection {
  background-color: #67a538;
  color: #ffffff;
}
