<div *ngIf="productPage" class="container">
    <div class="row">
        <div class="col-sm-5">
            <img [src]="product.imgPath">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h2>{{ product.productName }}</h2>
            <strong>{{ product.subtitle }}</strong>
            <p>{{ product.PN }}</p>
            <p>{{ product.description }}</p>
            <button mat-flat-button>询价</button>
        </div>
    </div>

    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        {{ product.features.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let detail of product.features.details">
                    <li>{{ detail }}</li>
                </div>   
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        {{ product.specification.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let detail of product.specification.details">
                    <p>{{ detail }}</p>
                </div>   
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        {{ product.literatures.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let doc of product.literatures.docs">
                    <p><strong>{{ doc.title }}</strong></p>
                    <p>{{ doc.updated }}</p>
                    <p>{{ doc.fileSize }}</p>
                </div>   
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        {{ product.videos.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout fxLayoutAlign="space-around center">
                    <div *ngFor="let video of product.videos.details">
                        <youtube-player [height]="250" [width]="300" videoId={{video.videoID}}></youtube-player>
                    </div>
                </div>  
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf="gasSamplePage">
    <div class="hd-container">
        <img [src]="bgImg" class="tp-bgimg">
        <div class="tx-wrapper">
            <div class="hd-hd"><h2>气体样品</h2></div>
            <div>先进的空气采样袋确保了最长的保存时间和零污染。我们现有4种类型的气体采样袋FRON Scentroid，满足有关气体采样的各种需求。</div>
        </div>
    </div>
    <div class="container">
        <div *ngFor="let bag of product; let i = index">
            <div *ngIf="i % 2 === 0" class="row" >
                <div class="col-sm-6">
                    <h2>{{ bag.title }}</h2>
                    <p>{{ bag.description }}</p>
                    <button mat-flat-button>获取更多信息</button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src={{bag.imgPath}}>
                </div>
            </div>
            <div *ngIf="i % 2 !== 0" class="row" >
                <div class="col-sm-5">
                    <img src={{bag.imgPath}}>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <h2>{{ bag.title }}</h2>
                    <p  class="mt-50 mb-30">{{ bag.description }}</p>
                    <button mat-flat-button>获取更多信息</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-question-form></app-question-form>
