<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>联系我们</h2></div>
        <div>如有任何问题或意见，请与我们联系。</div>
    </div>
</div>
<div class="content row">
    <div class="col-md-5">
        <h2>中国</h2>
        <p>Phone: +86 0512-67901141 <br>
            Fax: +86 0512-67091145 <br>
            E-mail: service@nanovaenv.com <br>
            Address: 1518 Donghuan Rd., Xinsu Building, RM 1201, Suzhou, Jiangsu Province</p>
        <br>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h2>美国</h2> 
        <p>Phone: +1 (573)476-6355 <br> 
            Fax: +1 (573)476-6355 <br>
            E-mail: service@nanovaenv.com <br>
            Address: 3338 Brown Station Rd., Columbia, MO 65202</p>
    </div>
</div>
<app-question-form></app-question-form>
<hr>
<div class="content mt-5 mb-5">
    <h2>发送邮件</h2>
    <p>通过
      <strong class="col-sm-2">
        <a style="color: #67a538;" href="mailto:info@nanovaenv.com">电子邮件</a>
      </strong> 
      获取更多信息。我们会尽快回复！
    </p>
</div>

