<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>常见问题</h2></div>
        <div>您可以快速查看您的问题是否已在此处被提出和回答。如果您有其他问题，请联系我们，我们将很乐意为您解答。</div>
    </div>
</div>

<div class="content">
    <h2>{{ productName }}</h2>
    
    <mat-accordion *ngFor="let question of questionGroup">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ question.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>{{ question.anwser}}</p>
        </mat-expansion-panel>
    </mat-accordion>
  
</div>


<app-question-form></app-question-form>
