<!-- <div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>test</h2></div>
    </div>
</div> -->
<div class="hd-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="homeImg3" class="d-block w-100 tp-bgimg">
      </div>
      <div class="carousel-item">
        <img [src]="homeImg3" class="d-block w-100 tp-bgimg">
      </div>
      <div class="carousel-item">
        <img [src]="homeImg1" class="d-block w-100 tp-bgimg">
      </div>
    </div>
  </div>
</div>

<div class="container" fxLayout="row">
  <div class="col-sm-8">
    <h2>特色产品</h2>
    <div class="row">
      <div class="col-sm-4">
        <img [src]="gcImg">
        <p>NovaTest P 系列提供Compact GC，其设计便于携带到现场进行 VOC 分析</p>
        <button mat-flat-button>探索</button>
      </div>
      <div class="col-sm-4">
        <img [src]="omImg">
        <p>我们将GCs和自动化技术相结合，给出了VOCs在线监测解决方案。</p>
        <button mat-flat-button>探索</button>
      </div>
      <div class="col-sm-4">
        <img [src]="sensorsImg">
        <p>用于 VOC 检测的专利 PID 现在可以轻松连接到任何气相色谱系统。</p>
        <button mat-flat-button>探索</button>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <h2>最新要闻</h2>
    <div *ngFor="let event of events">
      <span><a [href]="event.infoPath">{{ event.title }}</a></span>
      <p style="color: #67a538;">{{ event.date }}</p>
    </div>
    <a routerLink="/news-and-events">了解更多>></a>
  </div>
</div>
<app-events></app-events>
