<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>test</h2></div>
    </div>
</div>

  <div class="container" fxLayout="row">
    <div class="left-col col-8">
      <h2>特色产品</h2>
      <div class="fp-col-container" fxLayout="row">
        <div class="col-sm-4">
          <img [src]="gcImg">
          <p>描述</p>
          <button mat-flat-button color="primary">探索</button>
        </div>
        <div class="col-sm-4">
          <img [src]="omImg">
          <p>描述</p>
          <button mat-flat-button color="primary">探索</button>
        </div>
        <div class="col-sm-4">
          <img [src]="sensorsImg">
          <p>描述</p>
          <button mat-flat-button color="primary">探索</button>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>最新要闻</h2>
    </div>
  </div>
  <app-events></app-events>
