<ngb-carousel class="hd-container">
  <ng-template ngbSlide>
      <img [src]="homeImg1" alt="Random first slide" class="tp-bgimg">
      <div class="tx-wrapper">
        <div @fadeOne class="hd-hd"><h2>让世界变得更美好</h2></div>
        <div @fadeTwo>专业专注超越行业标准，创新促建生态文明</div>
        <div @fadeTwo>WITH CUTTING-EDGE TECHNOLOGIES AND INNOVATIONS BEYOND INDUSTRY STANDARD </div>
        <div><button mat-button routerLink="products/novatestp100">了解我们的产品</button></div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
      <img [src]="homeImg2" alt="Random second slide" class="tp-bgimg">
      <div class="tx-wrapper">
        <div @fadeOne class="hd-hd"><h2>NovaTest P系列产品</h2></div>
        <div @fadeTwo>便携气相色谱仪，随时随地检测VOCS</div>
        <div @fadeTwo>PATENTED COMPACT GAS CHROMATOGRAPHS FOR CONVENIENT TESTS OF COMPLEX VOLATILE ORGANIC COMPOUNDS (VOCS) WITH HIGH SENSITIVITIES.
        </div>
        <div><button mat-button routerLink="products/novatestp100">了解我们的产品</button></div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
      <img [src]="homeImg3" alt="Random third slide" class="tp-bgimg">
      <div class="tx-wrapper">
        <div @fadeOne class="hd-hd"><h2>在线监测方案</h2></div>
        <div @fadeTwo>在线GC监测系统，实现生产、厂界、环境监测</div>
        <div @fadeTwo>THE ONLINE GC SYSTEM PROVIDES SOLUTIONS FOR CONTINUOUS VOC MONITORING IN PRODUCTION, FENCELINE, AND ENVIRONMENTAL MONITORING. </div>
        <div><button mat-button routerLink="products/novatestp100">了解我们的产品</button></div>
      </div>
  </ng-template>
</ngb-carousel>

<div class="content row">
  <div class="col-sm-8 inner-content">
    <h2>明星产品</h2>
    <div class="row">
      <div class="col-sm-4">
        <img [src]="gcImg">
        <p>可携带至现场进行 VOC 分析的 NovaTest P-系列便携式气相色谱仪</p>
        <button mat-flat-button routerLink="products/novatestp100">了解更多</button>
      </div>
      <div class="col-sm-4">
        <img [src]="omImg">
        <p>一体化连续自动分析气相色谱仪，您的 VOC 在线监测解决方案。</p>
        <button mat-flat-button routerLink="products/novatestw1000">了解更多</button>
      </div>
      <div class="col-sm-4">
        <img [src]="sensorsImg">
        <p>气相色谱专用 PID，美国专利，毛细谱柱连接管，安装极简。</p>
        <button mat-flat-button>
          <a href="https://www.nanovaenv.com/nova-pid/">了解更多</a>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-1 inner-content"></div>
  <div class="col-sm-3 inner-content">
    <h2>最新要闻</h2>
    <div *ngFor="let event of events | slice:0:5; index as i">
      <span><a [href]="event.infoPath">{{ event.title }}</a></span>
      <p style="color: #67a538;">{{ event.date }}</p>
    </div>
    <a routerLink="/news-and-events">了解更多>></a>
  </div>
</div>
<app-events></app-events>
