.tp-bgimg {
  width: 100%;
  max-height: 378px;
  padding: 0;
  margin-bottom: 50px;
  object-fit: cover;
}

.hd-container {
  position: relative;
  text-align: right;
  color: #ffffff;
}

.tx-wrapper {
  position: absolute;
  width: 400px;
  bottom: 35%;
  right: 15%;
}

.hd-hd {
  padding-bottom: 20px;
}

.content {
  padding: 0px 55px;
}

.inner-content {
  padding-bottom: 40px;
}

.row img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  margin-bottom: 35px;
}

.row h2 {
  color: #67a538;
  margin-bottom: 50px;
}

a {
  color: #363636;
  text-decoration: none;
}

// .row p {
//   margin: 50px 15px 50px 0;
// }

button {
  background-color: #67a538;
  color: #ffffff;
  margin-top: 15px;
}

button:hover {
  background-color: #67a538;
  color: #ffffff;
}

button a {
  color: #ffffff;
}

::selection {
  background-color: #67a538;
  color: #ffffff;
}
