<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>售后服务</h2></div>
        <div>我们致力于为客户提供高质量的服务和支持。此页面包括为满足您的需求而设计的服务及产品相关的售后服务。</div>
    </div>
</div>
<div class="content" fxLayout="column center">
    <div class="row">
        <h2>产品使用帮助</h2>
        <p>我们会为客户提供技术帮助，由授权的NEI技术人员现场协助设置产品和学习产品的功能。我们的技术人员将提供基本培训，以确保客户了解产品的工作原理和操作方法。</p>       
    </div>
    <div class="row">
        <h2>保修</h2>
        <span>一年保修</span>
        <p>所有产品享有一年保修。保修涵盖产品使用第一年内的零件和做工问题。因用户误用而导致故障的产品不在此保修范围内。</p>
            
        <span>延长保修</span>
        <p>在购买产品时或当前保修期到期之前，也可享受延长保修期。延长保修需要购买，且必须在原始报价期内或保修有效期内购买。超过保修期的产品将无法添加延长保修期。</p> 
    </div>
    <div class="row">
        <h2>支持</h2>
        <span>标准电话/视频服务</span>
        <p>自购买产品之日起NEI提供电话和视频支持。服务技术人员将在正常工作时间（周末和节假日除外）尽快回复您的需要。</p>
        <span>服务时间</span>
        <p>我们的服务时间是周一至周五，上午 8:00 至下午 5:00（任何物理位置的当地时间）。</p>
        <span>联系方式</span>
        <p>电子邮件：info@nanovaenv.com</p>
        <p>电话：+1 (573) 476-6355</p>
    </div>
</div>

