<div class="events-container">
    <h2>活动预告</h2>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <div class="calendar">
                <h6><strong>MAR</strong></h6>
                <h6>1</h6> 
                <hr>
            </div>
            <div class="container">
                <h5>
                    <a href="http://www.ie-expo.com/"><strong>PITTCON 2020</strong></a>
                </h5>
                <p>2020年3月1-5日<br>
                    麦考密克广场<br>
                    美国,芝加哥
                </p>

            </div>
        </div>
        <div fxLayout="row">
            <div class="calendar">
                <h6><strong>APR</strong></h6>
                <h6>21</h6>
                <hr>
            </div>
            <div class="container">
                <h5>
                    <a href="https://www.analyticachina.com/en/"><strong>IE Expo 2020</strong></a>
                </h5>
                <p>2020年4月1-23日<br>
                    新国际博览中心<br>
                    中国,上海
                </p>
            </div>
        </div>
        <div fxLayout="row">
            <div class="calendar">
                <h6><strong>NOV</strong></h6>
                <h6>26</h6>
                <hr>
            </div>
            <div class="container">
                <h5>
                    <a href="https://www.analyticachina.com/en/"><strong>Analytica China 2020</strong></a>
                </h5>
                <p>2020年11月16-18日<br>
                    新国际博览中心<br>
                    中国,上海
                </p>
            </div>
        </div> 
    </div>
</div>
