<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>商业合作</h2></div>
        <div>我们的分销产品和业务合作伙伴的相关信息。</div>
    </div>
</div>

<!-- <div fxLayout="column">
    <div class="column">
        <div class="row row-content" fxLayoutAlign="center center">
            <div class="col-md-6">
                <a href="https://duvastechnologies.com/"><img [src]="duvasLogo" style="max-height: 108px;"></a>
            </div>
            <div class="col-md-6">
                <p class="list-group-item-text">Duvas 总部位于英国，其研发重点是使用紫外光实时检测 ppb 级污染物气体。他们的 DV3000 是一种以固定和移动形式进行多物种气体分析的新方法，它产生快速，可以实时绘制气体浓度的地理地图，并且能够使用紫外光谱测量在紫外光谱中“可见”的大范围气体。</p>
            </div>
        </div>
    </div>
    <div class="column" style="background-color: #F8F8F8;">
        <div class="row row-content">
            <div class="col-md-6">
                <a href="https://duvastechnologies.com/"><img [src]="satirLogo" style="max-height: 108px;"></a>
            </div>
            <div class="col-md-6">
                <p class="list-group-item-text">SATIR是全球领先的民用热成像系统制造商之一，专注于红外热像仪的开发、生产和营销。这些摄像机在广泛的工业、商业和政府热成像活动中发挥着重要作用，包括预测性和预防性维护、状态监测、无损检测、研发、温度测量和热测试。</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row row-content">
            <div class="col-md-6">
                <a href="https://duvastechnologies.com/"><img [src]="scentLogo" style="max-height: 108px;"></a>
            </div>
            <div class="col-md-6">
                <p class="list-group-item-text">SCENTROID 是世界首屈一指的气味采样和分析设备制造商。凭借数十年为环境行业开发最先进仪器的经验，它为气味测量领域提供了新的创新技术。其使命是通过广泛深入的知识、最先进的仪器和最广泛的客户支持为全球提供支持。</p>
            </div>
        </div>    
    </div>    
</div> -->

<div class="column">
    <div class="row-inner">
        <div class="row">
            <div class="col-md-6">
                <a href="https://duvastechnologies.com/"><img [src]="duvasLogo" style="max-height: 108px;"></a>
            </div>
            <div class="col-md-6">
                <p class="list-group-item-text">Duvas 总部位于英国，其研发重点是使用紫外光实时检测 ppb 级污染物气体。他们的 DV3000 是一种以固定和移动形式进行多物种气体分析的新方法，它产生快速，可以实时绘制气体浓度的地理地图，并且能够使用紫外光谱测量在紫外光谱中“可见”的大范围气体。</p>
            </div>
        </div>
    </div>
    <div class="row-inner" style="background-color: #F8F8F8;">
        <div class="row">
            <div class="col-md-6">
                <a href="https://duvastechnologies.com/"><img [src]="satirLogo" style="max-height: 108px;"></a>
            </div>
            <div class="col-md-6">
                <p class="list-group-item-text">SATIR是全球领先的民用热成像系统制造商之一，专注于红外热像仪的开发、生产和营销。这些摄像机在广泛的工业、商业和政府热成像活动中发挥着重要作用，包括预测性和预防性维护、状态监测、无损检测、研发、温度测量和热测试。</p>
            </div>
        </div>
    </div>
    <div class="row-inner mb-5">
        <div class="row">
            <div class="col-md-6">
                <a href="https://duvastechnologies.com/"><img [src]="scentLogo" style="max-height: 108px;"></a>
            </div>
            <div class="col-md-6">
                <p class="list-group-item-text">SCENTROID 是世界首屈一指的气味采样和分析设备制造商。凭借数十年为环境行业开发最先进仪器的经验，它为气味测量领域提供了新的创新技术。其使命是通过广泛深入的知识、最先进的仪器和最广泛的客户支持为全球提供支持。</p>
            </div>
        </div>    
    </div> 
</div>
