<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>关于我们</h2></div>
        <div>我们是一支高素质的团队，致力于提供超越行业标准的尖端技术和创新。</div>
    </div>
</div>

<div class="column">
    <div class="wrapper-inner">
        <h2>纳华环境科技有限公司</h2>
        <p>纳华环境科技有限公司，成立于美国密苏里州的哥伦比亚市，致力于技术创新、研发产品以及提供相关服务，以推进环境监测和环境保护。我们的团队精益求精，追求超越行业标准的技术创新和可获得专利的尖端技术。我们一直积极与知名大学和众多环保组织合作，向世界推广创新技术所带来的便利。</p>
    </div>
    <div class="wrapper-inner">
        <h2>我们的团队</h2>
        <p>我们的研发团队由一批高级科学家和工程师组成。其中大多数人拥有环境工程、化学工程、材料科学、电气工程、计算机科学等领域的硕士和博士学位。我们先进的技术得到了来自密苏里大学、密歇根大学和俄亥俄州立大学等著名大学科研人员的支持。我们非常有信心为世界提供革命性的产品和服务。</p>
    </div>
    <div class="wrapper-inner mb-5">
        <h2>我们的使命</h2>
        <p>我们致力于通过严格的研究和开发，不断改进我们的技术和产品，以提供最优质的服务。凭借领先的环境解决方案技术，我们旨在以卓越的产品和服务服务全球。我们的口号是“通过创新让生活更美好”。</p>
    </div>
</div>

