<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>关于我们</h2></div>
        <div>我们是一支高素质的团队，致力于提供超越行业标准的尖端技术和创新。</div>
    </div>
</div>

<div class="column">
    <div class="row row-content">
        <h2>纳华环境科技有限公司</h2>
        <h5>纳华环境科技有限公司是一家在美国密苏里州哥伦比亚市成立公司，提供创新技术、产品和服务以推进环境监测和环境保护。我们高素质的团队致力于超越行业标准的创新和获得专利的尖端技术。我们一直积极与知名大学和众多环保组织合作，向世界推广创新技术和便利。</h5>
    </div>
    <div class="row row-content">
        <h2>关于团队</h2>
        <h5>我们的研发团队是由一批高级科学家和工程师组成。其中大多数人拥有环境工程、化学工程、材料科学、电气工程、计算机科学等领域的硕士和博士学位。我们先进的技术得到了来自密苏里大学、密歇根大学和俄亥俄州立大学等著名大学的研究人员的支持。我们非常有信心为世界提供革命性的产品和服务。</h5>
    </div>
    <div class="row row-content">
        <h2>我们的使命</h2>
        <h5>我们致力于通过严格的研究和开发，不断改进我们的技术和产品，并提供令人满意的优质服务。凭借领先的环境解决方案技术，我们旨在以卓越的产品和服务服务全球。我们的口号是“通过创新让生活更美好”。</h5>
    </div>
</div>

