<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>加入我们</h2></div>
        <div>我们正在快速发展，并正在寻找希望与我们一起发掘最大潜力的人才。查看我们的空缺职位，看看是否有您感兴趣的职位。</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  工程师
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h2>工程师</h2>
              <h6>职位摘要</h6>
              <p>这是踏入一个快速成长的初创公司的好机会，该公司奖励绩效！工程实习生的主要职责是协助组装我们的空气质量监测/分析设备产品。</p>
              <h6>职责</h6>
              <p>
                – 气相色谱系统组装和零件准备。<br>
                – 评估现有的制造流程和工作流程，以确定可以从变更和改进中受益的领域。<br>
                – 为其他团队成员提供必要的支持</p>
              <h6>工作要求</h6>
              <p>
                – 工程或任何其他工程领域的专业<br>
                – 注重细节 <br>
                – 良好的实践经验</p>
              <p>请将您的简历和简历以“申请-NEI职位名称-姓名”的形式发送给我们。如果需要进一步面试，我们将审核您的申请并与您联系。祝您好运！</p>
            </mat-expansion-panel>
        </mat-accordion>
     </div>
    <div class="row">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                电气工程师
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h2>电气工程师</h2>
          <h6>职位摘要</h6>
          <p>电气工程师实习生的主要职责是协助我们的空气质量监测/分析设备产品线的 PCB 开发和组装。该职位负责测试的规划和实施，以确保我们的电气部件具有最高的可靠性。</p>
          <h6>职责</h6>
          <p>
            – 分析设备的 PCB 和电路设计/组装和测试 <br>
            – 数据传输和通信解决方案<br>
            – 电气零件采购和开发</p>
          <h6>工作要求</h6>
          <p>
            – 电气工程专业或同等学历和相关工作经验的结合。<br>
            – 基本的电路设计和组装能力。<br>
            – 良好的实践经验。<br>
            – 能够有效地向小组展示信息并回应同事、主管和经理的询问。<br>
            – 优秀的人际交往、沟通、解决问题和组织能力。<br>
            – 需要PCB组装和测试经验。<br>
            – 有单片机系统经验者优先。<br>
          <p>请将您的简历和简历以“申请-NEI职位名称-姓名”的形式发送给我们。如果需要进一步面试，我们将审核您的申请并与您联系。祝您好运！</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="row">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                应用工程师
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>应用工程师</h2>
            <h6>职位摘要</h6>
            <p>该职位的主要作用是支持仪器和应用方法的开发。</p>
            <h6>职责</h6>
            <p>
            – 应用和开发用于分析仪器的过程开发和产品表征的方法。<br>
            – 负责方法开发、测试程序和分析过程控制的实施。<br>
            – 通过先进的方法开发和验证、系统测试和技术数据生成支持新产品开发。<br>
            – 分析数据并准备技术摘要/报告。</p>
            <h6>工作要求</h6>
            <p>
              – 工程或任何其他工程领域的专业<br>
              – 注重细节 <br>
              – 良好的实践经验</p>
            <p>请将您的简历和简历以“申请-NEI职位名称-姓名”的形式发送给我们。如果需要进一步面试，我们将审核您的申请并与您联系。祝您好运！</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                市场及销售助理
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>市场及销售助理</h2>
            <h6>职责</h6>
            <p>
            – 进行市场调查并准备营销材料。<br>
            – 协助管理营销和销售项目以及营销帐户。<br>
            – 向客户、公众、政府和其他外部来源代表公司。<br>
            – 周游美国或全球，在指定市场开展和开展所有销售活动。<br>
            – 倾听客户需求，分析信息并为所有客户保持高水平的客户服务。<br>
            – 在达到/超过销售目标的同时协商并完成销售。<br>
            – 以愉快和友好的方式为客户提供量身定制的建议、质量和及时的服务。</p>
            <h6>工作要求</h6>
            <p>
            – 本科或以上学历，最好是工程、商业、市场营销、专业销售或相关商业项目，或多年成功的销售经验<br>
            – 最好在具有产品销售背景的分析领域工作 2 年以上<br>
            – 对竞争技术和解决方案有深刻的理解<br>
            – 有较强的沟通能力和丰富的分析领域资源者优先。<br>
            – 能够在多元文化环境中工作。<br>
            - 流利的英语。</p>
            <p>请将您的简历和简历以“申请-NEI职位名称-姓名”的形式发送给我们。如果需要进一步面试，我们将审核您的申请并与您联系。祝您好运！</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                内容创作者
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>内容创作者</h2>
            <h6>职责</h6>
            <p>
            – 每周为网站和社交媒体创建与产品相关的营销帖子。<br>
            – 进行市场调查并准备营销材料。<br>
            – 协助管理营销和销售项目以及营销帐户。<br>
            – 协助分配的其他项目。</p>
            <h6>工作要求</h6>
            <p>
            – 需要化学背景。<br>
            – 需要 3 年以上分析领域的经验。<br>
            – 对竞争技术和解决方案有深刻的理解<br>
            – 优秀的英语写作能力。<br>
            - 流利的英语。</p>
            <p>请将您的简历和简历以“申请-NEI职位名称-姓名”的形式发送给我们。如果需要进一步面试，我们将审核您的申请并与您联系。祝您好运！</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
</div>
