.tp-bgimg {
  width: 100%;
  max-height: 378px;
  padding: 0;
  margin-bottom: 50px;
  object-fit: cover;
}

.hd-container {
  position: relative;
  color: #ffffff;
}

.tx-wrapper {
  position: absolute;
  width: 400px;
  top: 150px;
  left: 80px;
}

.hd-hd {
  padding-bottom: 20px;
}

// .container {
//   margin-bottom: 100px;
// }

.container h2 {
  color: #67a538;
  text-align: center;
  margin-bottom: 30px;
}

strong {
  color: #67a538;
}

.row {
  margin-bottom: 50px;
}

mat-expansion-panel {
  margin-bottom: 2px;
}

ul li {
  color: #67a538;
  text-align: left;
}

::selection {
  background-color: #67a538;
  color: #ffffff;
}
