<div class="hd-container">
    <img [src]="bgImg" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>询价</h2></div>
        <div>如果您对我们的任何产品感兴趣并想详细了解其价格，请在此处索取报价。</div>
    </div>
</div>

<div class="content">
    <h2>在线咨询</h2>
    <p>请告诉我们您想要了解什么信息。我们会尽快与您联系！</p>
 
    <form>
        <div class="text-wrapper mb-3">
            <h6>您的联系方式</h6>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" id="username" class="form-control" ngModel name="username" required placeholder="您的姓名">
                </div>
                <div class="mb-3">
                    <input type="text" id="email" class="form-control" ngModel name="email" required email placeholder="您的邮箱">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" id="phone" class="form-control" ngModel name="email" required placeholder="电话号码">
                </div>
                <div class="mb-3">
                    <input type="text" id="company" class="form-control" ngModel name="company" required placeholder="您的公司">
                  </div>
            </div>
        </div>
        <div class="text-wrapper mb-3">
            <h6>选择仪器</h6>
        </div>
        <div class="row item-wrapper mb-3">
            <div class="col-md-6">
                <mat-checkbox color="primary">NovaTest P100 便携式气相色谱仪</mat-checkbox><br>
                <mat-checkbox color="primary">DV3000 实时空气监测仪</mat-checkbox>
            </div>
            <div class="col-md-6">
                <mat-checkbox color="primary">SATIR V80 红外相机</mat-checkbox><br>
                <mat-checkbox color="primary">SATIR V90 红外相机</mat-checkbox>
            </div>
        </div>
        <div class="text-wrapper mb-3">
            <h6>评论</h6>
        </div>
        <p style="color: #cacaca; margin-left: 5px;">由于我们的大多数产品都非常灵活，可根据各种应用进行定制，尽可能详细地描述您的应用有助于我们更好地了解您的要求并生成更准确的报价。</p>
        <div class="mb-3">
            <textarea 
            name="questionAnswer" 
            rows="5.5"
            class="form-control"
            placeholder="留言"
            ></textarea>
        </div>
        <div class="text-center mb-5">
            <button type="submit" class="btn">确认提交</button>
        </div>
    </form>
    <hr>
    <div class="mt-5 mb-5">
        <h2>发送邮件</h2>
        <p>通过
        <strong class="col-sm-2">
            <a style="color: #67a538;" href="mailto:info@nanovaenv.com">电子邮件</a>
        </strong> 
        获取更多信息。我们会尽快回复！
        </p>
    </div>
</div>
