<div class="hd-container">
    <img src="{{application.header.headImg}}" class="tp-bgimg">
    <div class="tx-wrapper">
        <div class="hd-hd"><h2>{{application.header.head}}</h2></div>
        <div>{{application.header.text}}</div>
    </div>
</div>

<div class="container" *ngFor="let description of application.description">
    <h2>{{description.title}}</h2>
    <div *ngFor="let p of description.para">
        <p>{{p}}</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Challenge</h2>
            <div *ngFor="let challenge of application.challenges">
                <li>{{challenge}}</li>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Solution</h2>
            <div *ngFor="let solution of application.solutions">
                <li>{{solution }}</li>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 style="text-align: center;">可用产品</h2>
    <div class="row"></div>
</div>