<button mat-button routerLink="/">主页</button>
<button mat-button [matMenuTriggerFor]="products">产品</button>
    <mat-menu #products="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="gc">气相色谱仪</button>
        <button mat-menu-item [matMenuTriggerFor]="spectroscopy">光谱仪</button>
        <button mat-menu-item [matMenuTriggerFor]="ir">红外检测</button>
        <button mat-menu-item [matMenuTriggerFor]="gsb">气体样品</button>
    </mat-menu>
    
    <mat-menu #gc="matMenu">
        <button mat-menu-item routerLink="products/novatestp100">NOVATEST P100便携式 VOC 筛查仪</button>
        <button mat-menu-item routerLink="products/novatestp300">NOVATEST P300集成便携式 GC (Beta)</button>
        <button mat-menu-item routerLink="products/novatestw1000">NOVATEST W1000在线 VOC 监测仪 (Aplha)</button>
    </mat-menu> 

    <mat-menu #spectroscopy="matMenu">
        <button mat-menu-item routerLink="products/dv3000">DV3000实时空气监测仪</button>
    </mat-menu> 

    <mat-menu #ir="matMenu">
        <button mat-menu-item routerLink="products/pandair">用于 COVID-19 监测的红外/可见光可安装摄像机</button>
        <button mat-menu-item routerLink="products/hotfind-sir">用于 COVID-19 监测的 Hotfind-S 红外摄像机</button>
        <button mat-menu-item routerLink="products/satirvseries">用于气体检测的 Satir V 系列红外热像仪</button>
    </mat-menu> 

    <mat-menu #gsb="matMenu">
        <button mat-menu-item routerLink="products/gas-sampling-bags">气体采样袋</button>
    </mat-menu> 

<button mat-button [matMenuTriggerFor]="application">应用</button>
    <mat-menu #application="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="auto">机动车辆</button>
        <button mat-menu-item [matMenuTriggerFor]="energy">能源</button>
        <button mat-menu-item [matMenuTriggerFor]="env">环境</button>
        <button mat-menu-item [matMenuTriggerFor]="indoor">室内</button>
        <button mat-menu-item routerLink="application/pharmaceutical-production-and-processing">制药</button>
        <button mat-menu-item [matMenuTriggerFor]="edu">科研与教育</button>
    </mat-menu> 

    <mat-menu #auto="matMenu">
        <button mat-menu-item routerLink="application/auto-material">车辆材料释放</button>
        <button mat-menu-item routerLink="application/leak-detection">泄漏检测</button>
        <button mat-menu-item routerLink="application/vehicle-emission">汽车排放</button>
        <button mat-menu-item routerLink="application/vehicle-indoor-air-quality">汽车室内空气质量</button>
    </mat-menu> 

    <mat-menu #energy="matMenu">
        <button mat-menu-item routerLink="application/fenceline-monitoring">厂界监测</button>
        <button mat-menu-item routerLink="application/petrochemical">石化</button>
    </mat-menu> 

    <mat-menu #env="matMenu">
        <button mat-menu-item routerLink="application/ambient-air-monitoring">环境空气监测</button>
        <button mat-menu-item routerLink="application/landfill-and-biogas">垃圾填埋和沼气</button>
        <button mat-menu-item routerLink="application/odor">气味</button>
        <button mat-menu-item routerLink="application/vocs-in-water">水中VOC</button>
    </mat-menu>

    <mat-menu #indoor="matMenu">
        <button mat-menu-item routerLink="application/indoor-air">室内空气质量</button>
        <button mat-menu-item routerLink="application/occupational-safety">工作安全</button>
    </mat-menu> 

    <mat-menu #edu="matMenu">
        <button mat-menu-item routerLink="application/breath-research">呼吸研究</button>
        <button mat-menu-item routerLink="application/laboratory-and-research">科研</button>
    </mat-menu> 
<button mat-button [matMenuTriggerFor]="resources">资源</button>
    <mat-menu #resources="matMenu">
        <button mat-menu-item routerLink="resources/gas">气相色谱产品</button>
        <button mat-menu-item routerLink="resources/spectroscopy">光谱产品</button>
        <button mat-menu-item [matMenuTriggerFor]="tech">技术</button>
    </mat-menu>
    <mat-menu #tech="matMenu">
        <button mat-menu-item routerLink="resources/sensor-technology">传感器技术</button>
    </mat-menu> 

<button mat-button [matMenuTriggerFor]="qna">常见问题</button>
    <mat-menu #qna="matMenu">
        <button mat-menu-item routerLink="/faqs/p100">NOVATEST P100</button>
        <button mat-menu-item routerLink="/faqs/p300">NOVATEST P300</button>
        <button mat-menu-item routerLink="/faqs/a1000">NOVATEST A1000</button>
    </mat-menu>
<button mat-button [matMenuTriggerFor]="support">服务与支持</button>
    <mat-menu #support="matMenu">
        <button mat-menu-item routerLink="/service-supports">售后服务</button>
        <button mat-menu-item routerLink="/tech-supports">技术支持</button>
    </mat-menu>
<button mat-button routerLink="/news-and-events">最新要闻</button>
<button mat-button [matMenuTriggerFor]="contact">联系我们</button>
    <mat-menu #contact="matMenu">
        <button mat-menu-item routerLink="/request-more-info">更多信息</button>
        <button mat-menu-item routerLink="/request-quote">询价</button>
        <button mat-menu-item routerLink="/contact-us">联系我们</button>
    </mat-menu>
<button mat-button [matMenuTriggerFor]="about">关于</button>  
    <mat-menu #about="matMenu">
        <button mat-menu-item routerLink="/about-us">关于我们</button>
        <button mat-menu-item routerLink="/business-partners">合作伙伴</button>
        <button mat-menu-item routerLink="/our-distributors">经销商</button>
        <button mat-menu-item routerLink="/open-positions">加入我们</button>
    </mat-menu>
